


<h3>Home page</h3>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {{ message }}
      {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
      {% endif %}

      {% if success_message %}
        <p class="text-success">{{ success_message }}</p>
      {% endif %}
      <form method="POST">
        {% csrf_token %}

        {% if key_available == False %}

        <h3 id="form-title">Add API Key</h3>
        <div class="form-group">
          <input type="text" name="key" class="form-control" placeholder="API Key" value="{{ key }}">
        </div>

        {% endif %}

      <h3 id="form-title">Query</h3> 
        <div class="form-group">
          <input type="text" name="keyword" class="form-control" placeholder="Query">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% if response %}
<div class="row justify-content-center mt-4">
<div class="col-md-6">
<h4>URL added in personal AI results:</h4>
<p>{{ response }}</p>
</div>
</div>
{% endif %}

<a href="{% url 'logout' %}">Logout</a>

</div> 
<!-- Add Bootstrap CSS and JS in your HTML file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
<!-- Note: You can add these links in your head tag to avoid rendering issues -->